@font-face {
    font-family: "Made infinity";
    src: url('../fonts/MADEINFINITY\ PERSONALUSE-Light.otf');
}
.aboutP{
    font-family: 'Made infinity', sans-serif;
    font-size: 24px;


}
.aboutH2{
    font-family: "Monday Groovy", sans-serif;
    font-size: 80px;
    text-align: center;
    color: rgb(248, 248, 204);
    letter-spacing: 2px;
    -webkit-text-stroke: 0.5px black;

}
.abouth2{
    font-family: "Monday Groovy", sans-serif;
    font-size: 40px;
    text-align: center;
    color: rgb(248, 248, 204);
    letter-spacing: 2px;
    -webkit-text-stroke: 0.5px black;
}
.abouth3{
    font-family: 'Made infinity', sans-serif;
    font-size: 30px;
    color: rgb(248, 248, 204);
    letter-spacing: 2px;
    -webkit-text-stroke: 0.2px black;
}
.aboutContainer{
    display: block;
    justify-content: center;
    text-align: center;
    padding: 10px;
}
.textContainer{
    background-color: rgba(45, 45, 45, 0.756);
    width: fit-content;
    height: fit-content;
    border: 5px solid yellowgreen;
    border-radius: 10px;
}